[Desktop Entry]
Encoding=UTF-8
Name=Link to http://www.mytreedb.com/uploads/mytreedb/loader/ajax_loader_gray_512.gif
Type=Link
URL=http://www.google.co.in/url?sa=i&source=images&cd=&docid=pdhZOZgvAYtkRM&tbnid=WbfH_R2ft_o1LM:&ved=0CAUQjBwwAA&url=http%3A%2F%2Fwww.mytreedb.com%2Fuploads%2Fmytreedb%2Floader%2Fajax_loader_gray_512.gif&ei=SrCVUoeUMtHHrQfj-ICIDw&psig=AFQjCNEoFkdNjFvoPRNSwBa_Vx8rgHOBZg&ust=1385628106911028
Icon=gnome-fs-bookmark
