<div class="hero-unit">    
  <p>
      Welcome to the world's largest collection of parody commercials from the largest brands. You can vote (insert red and green thumbs HERE) on the funniest commercials, search for brands, and upload commercials to share with the world. 
  </p>    
</div>

