<div class="hero-unit">    
  <p>
      Funny Fake Ads. The world's largest collection of parody commercials from the largest brands. Vote on the funniest commercials, search, and upload new ads to share with the world
  </p>    
</div>

