<div class="hero-unit">
<h1>Welcome to Adratr! </h1>
<p>
You've found the home page for the
<%=link_to "Philip McNamara", "http://www.philipmcnamara.com" %> application
</p>
<p> 
	<%=link_to "Sign The Flip Up Now", "#", class: "btn btn-primary btn-large"%>
<p>

</div>
