<div class="hero-unit">
<h1>Welcome to TapMap! </h1>
<p>
Welcome to the
	<%=link_to "Product Demand Trends", "http://5.153.5.66/reports" =%> application 
</p>
<p> 
	<%=link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn-large"%>
<p>

</div>
