
/*$baseFontFamily: Oxygen;
# @import url(http://fonts.googleapis.com/css?family=Oxygen);*/

$btnPrimaryBackground: green;
$navbarBackgroundHighlight: white;
$navbarBackground: white;


.navbar-toggle {
    border-color: #DDD !important;

    .icon-bar {
        background-color: #CCC;
    }
}

.img-responsive {
    margin: 0 auto;
}

.footer {
	margin-top: 50px;
	color: #333
	a {
		color: #777
	}	
}

/* Required for jQuery Masonry */

.box {
    margin: 8px;
    padding: 5px;
    font-size: 11px;
    line-height: 1.4em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #888;
    border: 1px solid #DDD;
    width: 210px;
}

@media (max-width: 480px) {
    .box {
        width: 100%;
        margin: 1em auto;
    }
}

.box img {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.box .star img {
    width: auto !important;
}