
/*$baseFontFamily: Oxygen;
# @import url(http://fonts.googleapis.com/css?family=Oxygen);*/

$btnPrimaryBackground: green;
$navbarBackgroundHighlight: white;
$navbarBackground: white;


.navbar-toggle {
    border-color: #DDD !important;

    .icon-bar {
        background-color: #CCC;
    }
}

.img-responsive {
    margin: 0 auto;
}

.footer {
	margin-top: 50px;
	color: #333
	a {
		color: #777
	}
}

/* Required for jQuery Masonry */

.box {
    margin: 8px;
    padding: 5px;
    font-size: 11px;
    line-height: 1.4em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #888;
    border: 1px solid #DDD;
    width: 210px;
}

@media (max-width: 480px) {
    .box {
        width: 100%;
        margin: 1em auto;
    }
}

.box img {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.box .star img {
    width: auto !important;
}
input[type]{ height:30px !important;}


/*======Sign-in======*/
.sign-in{
  .form-group {
    margin-bottom: 10px;
    padding: 0 15px;
  }
  input:not([type='checkbox']) {
    width: 270px;
    max-width: 100%;

  }
  input[type="checkbox"] {
    margin: 0px 0 0;
    height: auto !important;
  }
}
.sign-up{
  margin-bottom: 8px;
  .form-group {
    margin-bottom: 0px;
    padding: 0px;
  }
  input:not([type='checkbox']) {
    width: 270px;
    max-width: 100%;

  }
  input[type="checkbox"] {
    margin: 0px 0 0;
    height: auto !important;
  }
}
.edit-profile{
  input[type="text"],input[type="email"],input[type="password"] {
    width: 270px;
    max-width: 100%;

  }
  .form-actions {
    padding: 19px 0px 20px;
    width: 270px;
    max-width: 100%;
  }
}
.pin-new{
  .form-actions {
    padding: 19px 0px 20px;
  }
  input[type="text"],input[type="url"],textarea {
    width: 270px;
    max-width: 100%;

  }
  .pin-box{
    min-height: 640px;
  }
  @media (max-width: 979px){
    [class*="span"]{
      float: none;
      display: block;
      width: 100%;
      margin-left: 0;
    }
  }
  input[type="file"] {
    line-height: 23px;
  }

}
/*======End Sign-in======*/
/*=======Pin Show==========*/
.pin-show{
  .well{
  min-width: 100%;
  }

}

/*=======End Pin Show======*/