
/*$baseFontFamily: Oxygen;
# @import url(http://fonts.googleapis.com/css?family=Oxygen);*/

$btnPrimaryBackground: green;
$navbarBackgroundHighlight: white;
$navbarBackground: white;


.navbar-toggle {
    border-color: #DDD !important;

    .icon-bar {
        background-color: #CCC;
    }
}

.img-responsive {
    margin: 0 auto;
}

.footer {
	margin-top: 50px;
	color: #333
	a {
		color: #777
	}
}

/* Required for jQuery Masonry */

.box {
    margin: 8px;
    padding: 5px;
    font-size: 11px;
    line-height: 1.4em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #888;
    border: 1px solid #DDD;
    width: 210px;
}

@media (max-width: 480px) {
    .box {
        width: 100%;
        margin: 1em auto;
    }
}

.box img {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.box .star img {
    width: auto !important;
}
input[type]{ height:30px;}


/*======Sign-in======*/
.sign-in{
  .form-group {
    margin-bottom: 10px;
    padding: 0 15px;
  }
  input:not([type='checkbox']) {
    width: 270px;
    max-width: 100%;

  }
  input[type="checkbox"] {
    margin: 0px 0 0;
    height: auto !important;
  }
}
.sign-up{
  margin-bottom: 8px;
  .form-group {
    margin-bottom: 0px;
    padding: 0px;
  }
  input:not([type='checkbox']) {
    width: 270px;
    max-width: 100%;

  }
  input[type="checkbox"] {
    margin: 0px 0 0;
    height: auto !important;
  }
}
.edit-profile{
  input[type="text"],input[type="email"],input[type="password"] {
    width: 270px;
    max-width: 100%;

  }
  .form-actions {
    padding: 19px 0px 20px;
    width: 270px;
    max-width: 100%;
  }
}
.pin-new{
  .form-actions {
    padding: 19px 0px 20px;
  }
  input[type="text"],input[type="url"],textarea {
    width: 270px;
    max-width: 100%;

  }
  .pin-box{
    min-height: 640px;
  }
  @media (max-width: 979px){
    [class*="span"]{
      float: none;
      display: block;
      width: 100%;
      margin-left: 0;
    }
  }
  input[type="file"] {
    line-height: 23px;
  }

}
/*======End Sign-in======*/
/*=======Pin Show==========*/
.pin-show{
  .well{
  min-width: 100%;
  }

}

/*=======End Pin Show======*/

.margin-top-desktop-7-custom {
    margin-top: 9px !important;
    margin-right: 5px;
  }
  
.pin-href:hover {
  text-decoration: none;
}

.span4.ml-sm,
.span8.ml-sm {
  margin-left: 0px;
}
.relative-ads-title {
  margin-left: 25px;
  margin-top: 0px;
} 

input.search-btn{
  background-image: url("search_icon.png");
  width: 30px !important;
  height: 30px !important;
  background-size: 25px 25px;
  border: none;
  background-repeat: no-repeat;
  background-color: blue;
  background-position: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  top: 9px;
  right: 0px;
}

input.search-btn.no-top{
  top: 0px;
}

#searchFormLi {
  margin-right: 5px;
}
.form-control.search-textbox {
  min-width: 250px;
}

@media (max-width: 460px) {
  .form-control.search-textbox {
    width: 94%;
  }
}

.margin-top-desktop-7-custom {
    margin-top: 9px !important;
    margin-right: 5px;
}
.control-category{
  padding: 6px 12px;
  font-size: 14px;
  width: 150px;
  line-height: 1.42857;
  color: #555;
  vertical-align: middle;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
  
.pin-href:hover {
  text-decoration: none;
}

.style-category{
  margin-bottom: 10px !important;
  line-height: 30px !important;
}

.style-table-c1{  
  text-align: center !important;
  font-weight: bold;
  font-size: 20px;
}
.style-table-c2{  
  text-align: center !important;
  font-weight: bold;
  font-size: 20px;
  width: 15%;
}

.style-table-content{  
  text-align: center !important;
}

.relative-ads p {
  margin: 0px;
}

.uploaded-by a,
.uploaded-by a:hover {
  text-decoration: none;
  color: black;
}

.img-like{
  width:32px !important;
  height:32px !important;

}

.img-dislike{
  width:32px !important;
  height:32px !important;
  margin-left: 5px;
  margin-top: 7px;
}

.img-like-show{
  width:32px !important;
  height:32px !important;
}

.img-dislike-show{
  width:32px !important;
  height:32px !important;
  margin-top: 7px;
}

.img-like-search{
  width:32px !important;
  height:32px !important;
}

.img-dislike-search{
  width:32px !important;
  height:32px !important;
}
