<div class="footer container">
			
		<div class="navbar-collapse collapse">
			<%=link_to "Funny Fake Ads", "http://www.funnyfakeads.com" %>- By Philip McNamara
        		
          <li><%= link_to "About", about_path %></li> 
           
     
</div>