<div class="footer container">
			
		<div class="navbar-collapse collapse">
			<li><%= link_to "About", about_path %></li> 

          <% if current_user.nil? %>
            <li><%= link_to "Upload or Create New Funny Fake Ad", new_pin_path %></li>
         <% else %>
            <li><%= link_to "Upload or Create New Funny Fake Ad", new_pin_path %></li>
            <% end %>
       
     </div>
     
</div>