<!-- <div class="footer container">
			
		<div class="navbar-collapse collapse">
			<li><%= link_to "About", about_path %></li> 

          <% if current_user.nil? %>
            <%= link_to "Upload or Create New Funny Fake Ad", new_pin_path,:class=>" btn btn-success"%>
         <% else %>
            <%= link_to "Upload or Create New Funny Fake Ad", new_pin_path,:class=>" btn btn-success" %>
            <% end %>
       
     </div>
     
</div> -->